.info_wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.info_container {
    background-color:  rgb(21, 157, 202);
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.app_info{
    padding: 3px;
    color: whitesmoke;
    font-weight: 100;
}

.app_button {
    width: 150px;
    margin: 20px;
    background: gainsboro;
    border: none;
    padding: 5px;
    color: gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pick_app{
    font-size: 25px;
    margin: 5px;
}

.app_time {
    margin: 0 0 20px 0;
}