.auto_listings_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 0px 50px;
}

.auto_listing_card {
  background-color: white;
  height: 300px;
  border-radius: 20px;
  border: 1px solid lightgray;
  display: grid;
  grid-auto-rows: 1fr 1fr;
}

.auto_listing_card:hover {
  border: 2px solid blue;
}

.auto_listing_image_holder {
  /* background-color: red; */
  background-image: url("./../../public/images/login_car.jpeg");
  background-size: auto;
  background-color: red;
  
}

.auto_listing_card_info_container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  align-items: start;
  padding: 0px 20px;
  box-sizing: border-box;
  justify-content: center;
}


