.auto_listing_card {
  background-color: yellow;
  width: 75vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
}

.middle_section {
  padding: 20px;
  box-sizing: border-box;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_container {
  background-color: green;
}