.main_container {
  display: grid;
  grid-auto-flow: column;
}

.login_form_container {
  justify-self: left;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.login_car_image {
  width: 40vw;
  min-width: 500px;
  height: 96vh;
}

label{
  padding: 5px 0;
}

.create_listing_tit{
  font-size: 30px;
  margin-bottom: 10px;
}

.input_listing{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: 2px 0;
}

.input_list_button{
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px 10px;
  border-radius: 5px;
}